.bubble {
  width: 100px;
  height: 30px;
  background-color: #f3f3f3;
  border-radius: 15px;
  color: #1E1E1E;
  box-shadow: 1px 1px 5px black;
  @include sm {
    width: 120px;
    height: 32px;
  }
  @include md {
    width: 135px;
    height: 35px;
  }
  @include lg {
    width: 170px;
    height: 38px;
  }
  p {
   font-size: 13px;
   @include sm {
    font-size: 15px;
   }
   @include md {
     font-size: 17px;
   }
   @include lg {
     font-size: 18px;
   }
 }
}
