.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 350px;
  background-size: 60%!important;
  background-position: center!important;
  color: white;
  transition: all 0.5s ease;
  h4 {
    font-size: 40px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
  }
  .card-hover-div {
    display: none;
  }
}

.card:hover {
  background: white!important;
  color: #1E1E1E;
  transform: scale(1.05, 1.05);
  transition: all 0.5s ease;
  h4 {
    display: none;
  }
  .card-hover-div {
    display: flex;
    text-align: center;
    margin: 0px 20px;
    font-size: 16px;
    flex-direction: column;
    i {
      font-size: 35px;
      width: 36px;
      margin: 0 auto;
      margin-top: 30px;
      transition: transform 0.2s ease-in-out;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

  //   overflow: overlay;
