.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 300px;
  background: linear-gradient(307deg, rgba(0,0,0,0.5046393557422969) 0%, rgba(0,0,0,0.700717787114846) 0%), url("../../images/volcano.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  transition: all 0.5s ease;
  h4 {
    font-size: 40px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
  }
  .card-hover-div {
    display: none;
  }
}

.card:hover {
  background: white;
  color: #1E1E1E;
  transform: scale(1.1, 1.1);
  transition: all 0.5s ease;
  h4 {
    display: none;
  }
  .card-hover-div {
    display: flex;
    text-align: center;
    margin: 0px 20px;
    font-size: 16px;
    flex-direction: column;
    i {
      font-size: 35px;
      margin-top: 15px;
    }
  }
}

  //   overflow: overlay;
