.carousel i {
  color: black;
  font-size: 30px;
}

.w-100 {
  width: 90%!important;
  margin: 0 auto;
}
// .carousel-control-prev-icon {
//   color: red;
// }
// .carousel-control-next-icon {
//   color: red;
// }