.carousel {
  i {
    color: black;
    font-size: 30px;
  }
  .fa-chevron-right {
    margin-left: 30px;
  }
  .fa-chevron-left {
    margin-right: 30px;
  }
  .carousel-indicators {
    margin-bottom: -2%;
    li {
      background-color: black;
    }
  }
}

#pong-carousel {
  .w-100 {
    width: 85%!important;
    margin: 0 auto;
  }
}
