footer {
  background-color: #1E1E1E;
  color: white;
  font-size: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  position: relative;
}

footer a {
  position: absolute;
  bottom: 55px;
  left: 10px;
}

footer a i {
  font-size: 20px;
  color: #1E1E1E;
}

footer a p {
  color: white;
}