#contact {
  margin-top: 80px;
  margin-bottom: 35px;
  @include sm {
    margin-bottom: 0;
  }
  img {
    width: 100%;
    margin-top: 30px;
    @include sm {
      width: 50%;
    }
  }
}

.contact-title {
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    margin: 0px 30px;
    font-size: 30px;
    font-weight: lighter;
    @include sm {
      font-size: 34px;
    }
  }
  i {
    @include sm {
      font-size: 20px;
    }
  }
}

.contact-picture-content {
  @include sm {
    display: flex;
  }
}

.contact-content {
  margin-top: 30px;
  text-align: center;
  @include sm {
    margin-top: 25px;
    margin-left: 35px;
    margin-right: 35px;
  }
  h3 {
    font-size: 23px;
    font-weight: lighter;
  }
  p {
    font-size: 15px;
    margin-top: 10px;
    @include sm {
      margin-top: 15px;
    }
  }
}

.contact-link-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
  @include sm {
    justify-content: space-around;
    margin-bottom: 20px;
  }
  i {
    font-size: 50px;
    transition: transform 0.2s ease-in-out;
    @include sm {
      font-size: 45px;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
  .fa-envelope {
    cursor: pointer;
  }
}
