#contact {
  margin-top: 80px;
  margin-bottom: 35px;
  @include sm {
    margin-bottom: 0;
  }
  @include lg {
    margin-top: 85px;
  }
}

.snowboarder-background {
  max-width: 575px;
  height: 300px;
  margin-top: 30px;
  background-image: url('../../images/snowboarder.jpg');
  background-size: cover;
  background-position: center;
  @include sm {
    max-width: 767px;
  }
  @include md {
    width: 50%;
    height: auto;
  }
  @include lg {
    margin: 0;
  }
}

.contact-title {
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    margin: 0px 30px;
    font-size: 30px;
    font-weight: lighter;
    @include sm {
      font-size: 34px;
    }
    @include lg {
      font-size: 36px;
    }
  }
  i {
    @include sm {
      font-size: 20px;
    }
    @include lg {
      font-size: 24px;
    }
  }
}

.contact-picture-content {
  @include md {
    display: flex;
  }
  @include lg {
    height: 500px;
    margin-top: 40px;
  }
}

.contact-content {
  margin-top: 30px;
  text-align: center;
  @include sm {
    margin-top: 30px;
    margin-left: 35px;
    margin-right: 35px;
  }
  @include md {
    width: 50%;
  }
  @include lg {
    margin-top: 0px;
  }
  h3 {
    font-size: 23px;
    font-weight: lighter;
    @include sm {
      font-size: 26px;
    }
    @include md {
      font-size: 26px;
    }
    @include lg {
      font-size: 28px;
    }
  }
  p {
    font-size: 15px;
    margin: 10px 20px 0px 20px;
    @include sm {
      margin-top: 15px;
      font-size: 16px;
    }
    @include md {
      font-size: 16px;
      margin: 20px 30px 0px 30px;
    }
    @include lg {
      margin: 45px 60px 0px 60px;
      font-size: 17px;
    }
  }
}

.contact-link-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @include sm {
    margin-top: 45px;
    margin-bottom: 35px;
  }
  @include md {
    justify-content: space-around;
  }
  @include lg {
    margin-top: 80px;
    justify-content: space-evenly;
  }
  i {
    font-size: 50px;
    transition: transform 0.2s ease-in-out;
    @include md {
      font-size: 55px;
    }
    @include lg {
      font-size: 60px;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
  .fa-envelope {
    cursor: pointer;
  }
}
