footer {
  background-color: #1E1E1E;
  color: white;
  font-size: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  position: relative;
  @include sm {
    height: 60px;
  }
  a {
    position: absolute;
    bottom: 55px;
    left: 10px;
    transition: transform 0.3s ease-in-out;
    @include sm {
      bottom: 65px;
    }
    &:hover {
      transform: scale(1.2) rotate(360deg);
    }
    i {
      font-size: 20px;
      color: #1E1E1E;
      @include sm {
        font-size: 23px;
      }
      @include md {
        color: white;
        font-size: 26px;
      }
    }
  }
  p {
    font-size: 11px;
    @include sm {
      font-size: 13px;
    }
  }
}
