header {
  text-align: center;
  padding-top: 50px;
  @include lg {
    padding-top: 105px;
  }
  @include xl {
    padding-top: 90px;
  }
  h1 {
    font-size: 32px;
    @include sm {
      font-size: 36px;
    }
    @include xl {
      font-size: 38px;
    }
  }
  h2 {
    font-weight: lighter;
    font-size: 30px;
    @include sm {
      font-size: 34px;
    }
    @include xl {
      font-size: 36px;
    }
  }
  img {
    width: 100%;
    margin-top: 60px;
    @include lg {
      margin-top: 85px;
    }
  }
}
