header {
  text-align: center;
  padding-top: 50px;
  @include lg {
    padding-top: 105px;
  }
  @include xl {
    padding-top: 75px;
  }
  h1 {
    font-size: 30px;
    @include sm {
      font-size: 36px;
    }
    @include xl {
      font-size: 38px;
    }
  }
  h2 {
    font-weight: lighter;
    font-size: 28px;
    @include sm {
      font-size: 34px;
    }
    @include xl {
      font-size: 36px;
    }
  }
  img {
    width: 100%;
    margin-top: 60px;
    @include lg {
      margin-top: 85px;
    }
  }
}

#cable {
  position: absolute;
  border-top: 3px double #313131;
  bottom: 67%;
  width: 100%;
  @include sm {
    bottom: 64%;
  }
  @include lg {
    bottom: 54%;
  }
  i {
    position: absolute;
    transform: rotate(16deg);
    top: -1px;
    left: 5px;
    transition: left 10s ease-out;
    font-size: 25px;
    color: #c11111;
    @include sm {
      font-size: 30px;
    }
    @include md {
      font-size: 40px;
    }
    @include lg {
      font-size: 50px;
    }
    @include xl {
      font-size: 60px;
    }
  }
}
