nav {
  width: 100%;
  padding: 5px 20px;
  position: sticky;
  z-index: 1;
  top: 0;
  transition: background-color 0.2s ease;
  img {
    height: 50px;
    width: 50px;
    @include sm {
      height: 60px;
      width: 60px;
    }
  }
}

nav.active {
  background-color: #1E1E1E;
  color: white;
  transition: background-color 0.1s ease;
}

.navbar-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  display: flex;
  align-items: center;
  i {
    font-size: 30px;
    cursor: pointer;
    @include sm {
      font-size: 35px;
    }
  }
}

.burger-rotate-left {
  transform: rotate(-90deg);
  transition: transform 0.3s ease-out;
}

.burger-rotate-right {
  transform: rotate(0deg);
  transition: transform 0.3s ease-out;
}

.navbar-list-box {
  display: none;
}

.navbar-list-box.active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 7px;
}

.navbar-list-box a.active {
  color: white!important;
}

.navbar-list-box h3 {
  font-size: 14px;
  font-weight: lighter;
  @include sm {
    font-size: 17px;
  }
}

.navbar-list-box h3:hover {
  text-decoration: underline;
}
