#projects {
  margin-top: 50px;
  padding: 0px 20px;
}

.projects-title {
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    margin: 0px 30px;
    font-size: 30px;
    font-weight: lighter;
  }
}

.projects-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .card {
    margin-top: 50px;
  }
}
