#skills {
  background: linear-gradient(307deg, rgba(0,0,0,0.5046393557422969) 0%, rgba(0,0,0,0.700717787114846) 0%), url("../../images/village.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  margin-top: 50px;
  padding: 30px 20px 40px 20px;
}

.skills-title {
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    margin: 0px 30px;
    font-size: 30px;
    font-weight: lighter;
  }
}

.languages-box {
  display: flex;
  h3 {
    font-size: 23px;
    font-weight: lighter;
  }
}

.languages-box > div {
  margin-top: 30px;
  text-align: center;
}

.languages-end {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
}
